html{
  background-image: url("../Resources/images/black-background.jpg");
  font-family: 'Roboto', sans-serif;
}

.header{
  background:#ffcb05;
  font-family: 'Montserrat', sans-serif;
  font-style: oblique;
  padding: 20px 10px 10px 20px;
  text-decoration:underline
}

.name{
    font-family: 'Dancing Script', cursive;
    font-style:bold;
    font-size:80px;
    color:grey;
    align:center
}

.about{
    float: left;
    width: 50%
}

.profilePic{
    float: left;
    width: 50%;

}

.profile{
    display: block;
    margin-left: auto;
    margin-right: auto

}

/* Move .child 10px down from the top of .parent */
.parent {
height: 100px;
width: 100px;
position: relative;
}
.child {
position: absolute;
top: 10px
}
.content{

  color:white;
  padding: 0px 0px 0px 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 29px
}

.dashboard{
  font-family: 'Roboto', sans-serif;
  color:grey;



}

.myList{
  font-family: 'Roboto', sans-serif;
  background:black;
  color:blue;
  padding: 2px 10px 4px 5px;
  list-style-type:disc
}

.footer{
  font-family: 'Roboto', sans-serif;
  color:white;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffcb05;
    position: fixed;
    top: 0;
    width: 100%;
}

.menuItem {
    float: left;
}

.menuItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menuItem a:hover {
    background-color: #665102;
}

.active {
    background-color: #665102;
}
